<%layout('layouts/boilerplate')%>
<%- include('../partials/navbar') %>
<%- include('../partials/flash') %>

<ul>
    <%for(let item of user.cart){%>
        <li><%= item.name %> -> <%= item.price %></li>        
        <!-- make sure to populate(cart) to access product properties -->
    <%}%>
</ul>